<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="明星美食街" />
    <meta name="description" content="明星美食街" />
    <title>待付款订单</title>
  </head>
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/jquery-weui.css">
  <link rel="stylesheet" type="text/css" href="../css/weui.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <link rel="stylesheet" type="text/css" href="../css/dingdanInform.css">
  <body ontouchstart>
      <div id="app">
          <div class="weui-cell zhuangtai">
            <div class="weui-cell__hd">
              <img style="width: 42px" src="https://qncdn.playonwechat.com/shangcheng/pay.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
              <div class="weui-cell__bd">
                  <p id="status"></p>
                  <p class="true">请于<span id="time"><span id="time1"></span>分<span id="time2"></span>秒</span>内付款，超时订单将自动关闭</p>
                  <p class="false">订单编号：<span id="out_trade_no"></span></p>
              </div>
          </div>
          <!-- address -->
          <div class="weui-cells">
              <a class="weui-cell weui-cell_access" href="javascript:;">
                  <div class="weui-cell__hd">
                      <img src="https://qncdn.playonwechat.com/shangcheng/address.png" alt="" style="width:20px;margin-right:5px;display:block">
                  </div>
                  <div class="weui-cell__bd">
                    <p>收货人：<span id="name"></span><span class="phone" id="phone"> </span></p>
                    <p class="dizhi"> 收货地址：<span id="address"></span> </p>
                  </div>
              </a>
          </div>
          <div class="line"></div>
          <div class="weui-cell shop">
            <div class="weui-cell__hd">
                <img src="https://qncdn.playonwechat.com/shangcheng/shop.png" alt="" style="width:20px;margin-right:5px;display:block">
            </div>
            <div class="weui-cell__bd">
              <p>店铺</p>
            </div>
          </div>
          <!-- list -->
          <div class="weui-panel weui-panel_access marginNone" id="list">
          </div>
          <div class="weui-cell write">
              <div class="weui-cell__bd">
                <p>配送方式</p>
              </div>
              <div class="weui-cell__ft"><span class="yunfei">￥</span><span class="expenses"></span></div>
          </div>
          <a class="weui-cell weui-cell_access write" href="javascript:;">
              <div class="weui-cell__hd">留言</div>
              <div class="weui-cell__bd">
                <p class="liuyan"><input type="text" name="liuyan" id="message" placeholder="" disabled="disabled"></p>
              </div>
          </a>
          <!-- <div class="weui-cells">
              <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                  <p>优惠</p>
                </div>
                <div class="weui-cell__ft">使用优惠劵</div>
              </a>
          </div> -->
          <div class="weui-cells">
              <div class="weui-cell sum">
                <div class="weui-cell__bd">
                  <p>商品金额</p>
                </div>
                <div class="weui-cell__ft red">￥<span class="total_fee"></span></div>
              </div>
              <div class="weui-cell sum beforeNone">
                <div class="weui-cell__bd">
                  <p>运费</p>
                </div>
                <div class="weui-cell__ft red" ><span class="yunfei">￥</span><span class="expenses"></span></div>
              </div>
          </div>
          <!-- foot -->
          <div class="flex">
              <p class="fheji">合计：<span class="red">￥<span class="total_fee"></span></span></p>
          </div>
      </div>
      <script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
      <script type="text/javascript" src="../js/jquery-weui.js"></script>
      <script type="text/javascript" src="../js/vue.min.js"></script>
      <script type="text/javascript" src="../js/public.js"></script>
      <script type="text/javascript" src="../js/dingdanInform.js"></script>
  </body>
</html>
