<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="明星美食街" />
    <meta name="description" content="明星美食街" />
	<title>我的好友</title>
</head>
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/jquery-weui.css">
  <link rel="stylesheet" type="text/css" href="../css/weui.css">
  <link rel="stylesheet" type="text/css" href="../css/friends.css">
<body>
	<div class="app">
		<div class="weui-navbar">
	        <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
	          最新
	        </a>
	        <a class="weui-navbar__item" href="#tab2">
	          粉丝最多
	        </a>
	        <a class="weui-navbar__item" href="#tab3">
	          出单最多
	        </a>
	     </div>
	     <div class="nullCar">
              <img src="../images/haoyouNone.png">
          </div>
          <div class="noOrder">暂时没有任何数据</div>
	     <div class="weui-tab__bd">
	        <div id="" class="weui-tab__bd-item weui-tab__bd-item--active">
	          	<div class="weui-panel__bd daili">
			          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
			            <div class="weui-media-box__hd">
			              <img class="weui-media-box__thumb" src="https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIjNvnBqkvMeR1cMYlhbia2bn2lzgLQDQJXwLSPxfEVx7JTRa3LBKoD1fn4NMrjaJiaMk0mIkcdPkvA/0" alt="">
			            </div>
			            <div class="weui-media-box__bd">
			              <h4 class="weui-media-box__title">
			              		<img class="star" src="../images/star.png">昵称<span class="littleMeb">2</span></h4>
			              <p class="weui-media-box__desc">成为代理商时间：2017:03:22 22:22</p>
			            </div>
			            <div class="weui-media-box__hd right">
			              	<h4 class="weui-media-box__desc">+0</h4>
			              	<p class="weui-media-box__desc">0个成员</p>
			            </div>
			          </a>
			    </div>
	        </div>
	      </div>
	</div>
	<script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../js/jquery-weui.js"></script>
    <script type="text/javascript" src="../js/vue.min.js"></script>
    <script type="text/javascript">
    	
    </script>
</body>
</html>