<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="明星美食街" />
    <meta name="description" content="明星美食街" />
    <title>拼团</title>
  </head>
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/jquery-weui.css">
  <link rel="stylesheet" type="text/css" href="../css/weui.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <link rel="stylesheet" type="text/css" href="../css/fenlei.css">
  <link rel="stylesheet" type="text/css" href="../css/pintuan.css">
  <body ontouchstart>
      <div id="app">
          <!-- nav -->
          <div class="find_nav">
              <div class="find_nav_left">
                  <div class="find_nav_list">
                      <ul>
                          <li class="find_nav_cur"><a href="javascript:void(0)">资讯</a></li>
                          <li><a href="javascript:void(0)">分析</a></li>
                          <li><a href="javascript:void(0)">原创</a></li>
                          <li><a href="javascript:void(0)">评论</a></li>
                          <li><a href="javascript:void(0)">技术</a></li>
                          <li><a href="javascript:void(0)">项目</a></li>
                          <li><a href="javascript:void(0)">黄页</a></li>
                          <li><a href="javascript:void(0)">股市</a></li>
                          <li><a href="javascript:void(0)">经济</a></li>
                          <li class="sideline"></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- list -->
          <div class="weui-panel weui-panel_access">
              <div class="weui-panel__bd">
                  <a href="javascript:;" class="weui-media-box weui-media-box_appmsg">
                      <div class="weui-media-box__hd">
                        <img src="https://shop.playonwechat.com/assets/images/goods/201709/TB2Imq3XnZKL1JjSZFIXXX_DFXa_!!1747771701.jpg"
                        class="weui-media-box__thumb">
                      </div>
                      <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__desc">
                          由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。
                        </h4>
                        <div class="member">
                            <span><img src="https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIjNvnBqkvMeR1cMYlhbia2bn2lzgLQDQJXwLSPxfEVx7JTRa3LBKoD1fn4NMrjaJiaMk0mIkcdPkvA/0"></span>
                            <span><img src="https://qncdn.playonwechat.com/shangcheng/bg.png"></span>
                            <i class="red">已团1件</i>
                        </div>
                        <div class="weui-cell caozuo">
                          <div class="weui-cell__bd service-price">
                            <p>￥66 <span class="gary">￥222</span></p>
                          </div>
                          <div class="openGroup" class="weui-cell__ft service-gouwu service" >
                            去开团
                          </div>
                        </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
      <script type="text/javascript" src="../js/fenlei.js"></script>
      <script type="text/javascript" src="../js/jquery-weui.js"></script>
      <script type="text/javascript" src="../js/vue.min.js"></script>
      <script type="text/javascript">
        new Vue({ 
           el: "#app", 
           data: { 
             
          }, 
          methods: { 
             
           }
        });
   
      </script>
  </body>
</html>
