<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="email=no" name="format-detection" />
    <meta name="keywords" content="明星美食街" />
    <meta name="description" content="明星美食街" />
	<title>分享</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/reset.css">
<link rel="stylesheet" type="text/css" href="../css/jquery-weui.css">
<link rel="stylesheet" type="text/css" href="../css/weui.css">
<link rel="stylesheet" type="text/css" href="../css/share.css">
<body>
	<div id="app">
		<div id="newsimg"></div>
		<div class="haibao" id="demo">
			<div class="niceImg">
				<img class="poster" src="../images/1.jpg">
			</div>
			<div class="niceText">
				<div class="left">
					<p><a href="javascript:;" class="good_name"></a></p>
					<h3>RMB <span class="low_price">22</span></h3>
					<p>长按二维码查看详情</p>
				</div>
				<div class="right">
					<img src="../images/demo.png">
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../js/jquery-weui.js"></script>
    <script type="text/javascript" src="../js/fastclick.js"></script>
    <script type="text/javascript" src="../js/vue.min.js"></script>
    <script type="text/javascript" src="../js/html2canvas.js"></script>
    <script type="text/javascript">
    	
		
    	$(document).ready(function() {
    		var getParam = function () {
			    try{
			    var url = window.location.href;
			    var result = url.split("?")[1];
			    var keyValue = result.split("&");
			    var obj = {};
			    for (var i = 0; i < keyValue.length; i++) {
			        var item = keyValue[i].split("=");
			        obj[item[0]] = item[1];
			    }
			    return obj;}catch(e){
			        console.warn("没有参数");
			    }
			};
    		//接收传参赋值
			$(".good_name").text(decodeURI(getParam().good_name));
			$(".low_price").text(getParam().low_price);
			// $(".poster").attr("src", ""+getParam().poster+"");
			// $(".poster").crossOrigin="anonymous";
    	});

    	$.showLoading();
    	document.createElement("canvas").toDataURL(); //引用外部图片跨域设置img.crossOrigin="anonymous"; //关键
		setTimeout(function(){  
			html2canvas(document.body, {  
                allowTaint: true,  
                taintTest: false,  
                onrendered: function(canvas) {  
                    canvas.id = "mycanvas";  
                    //document.body.appendChild(canvas);  
                    //生成base64图片数据  
                    var dataUrl = canvas.toDataURL();  
                    //console.log(dataUrl);
                    var newImg = document.createElement("img");  
                    newImg.crossOrigin="anonymous"; //关键
                    newImg.src =  dataUrl;  
                    console.log(newImg);
                    $("#newsimg").html(newImg);
                    $(".foot,content.two,#demo").hide();
                    $("body").css("background","#000");
                    //document.body.appendChild(newImg);  
                } 
			})
			$.hideLoading();
			$.toast("操作成功");
        },1000);  
    </script>
</body>
</html>